<html>
	<head>
	</head>

	<body>
		<h1> Adivina la palabra</h1>
		<h2>_ _ _ _</h2>
		<form method="post" action="/juego">
			<input type="text" size="15" maxlength="1" value="" name="letra"></input>
			<input id="tecla" type="submit" value="Enviar letra"></input>
		</form>
	</body>

</html>
